<!DOCTYPE html>
<html>
<head>
  <title>Dale's Dastardly Do's</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="hair_salon.css">
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
