<h1>Add a client to <%= @stylist.name() %>'s client list. </h1>

<form action="/clients" method="post">
  <input id="client_id" name="client_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">Name of the client:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add client</button>
</form>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients for this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no clients yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
